<launch>
  <arg name="port" default="/dev/fdilink_ahrs" />
  <arg name="frame_id" default="n100_link" />
  <node pkg="fdilink_ahrs" name="ahrs_driver" type="ahrs_driver" output="screen" ns="ahrs_imu">
    <!-- Whether to output debug information -->
    <param name="debug"  value="false"/>
    <!-- Serial device, can be fixed by rules.d configuration -->
    <param name="port" value="$(arg port)" />
    <!-- Baudrate -->
    <param name="baud"  value="921600"/>
    <!-- Published imu topic name -->
    <param name="imu_topic"  value="imu_data"/>
    <!-- The frame_id in the published imu topic -->
    <param name="imu_frame"  value="$(arg frame_id)"/>
    <!-- Geomagnetic north of the yaw angle -->
    <param name="mag_pose_2d_topic"  value="mag_pose_2d"/>
    <!-- The published data has different coordinate systems based on different devices   -->
    <!-- 0: origin_data, 1: for single imu or ucar in ROS, 2:for Xiao in ROS -->
    <param name="device_type"  value="1"/>
  </node>
  <!-- <include file='$(find fdilink_ahrs)/launch/tf.launch' /> -->
</launch> 
